[submodule "2023_Blaschke_Stroke_tDCS_rsfMRI"]
	path = 2023_Blaschke_Stroke_tDCS_rsfMRI
	url = git@gin.g-node.org:/stejobla/2023_Blaschke_Stroke_tDCS_rsfMRI.git
	datalad-id = 83b73949-b6c3-4b2b-81b2-cc3f7236a048
	datalad-url = git@gin.g-node.org:/stejobla/2023_Blaschke_Stroke_tDCS_rsfMRI.git
[submodule "Example_Dataset_Kalantari_Paper"]
	path = Example_Dataset_Kalantari_Paper
	url = git@gin.g-node.org:/Aswendt_Lab/Example_Dataset_Kalantari_Paper.git
	datalad-id = 8ef5a758-77f1-4ce3-b0ed-0507c9dd25b3
	datalad-url = git@gin.g-node.org:/Aswendt_Lab/Example_Dataset_Kalantari_Paper.git
[submodule "testdata_aidaqc"]
	path = testdata_aidaqc
	url = git@gin.g-node.org:/Aswendt_Lab/testdata_aidaqc.git
	datalad-id = ff040a4c-d367-4759-bc77-93e01b5a447a
	datalad-url = git@gin.g-node.org:/Aswendt_Lab/testdata_aidaqc.git
