[submodule "2023_Blaschke_Stroke_tDCS_rsfMRI"]
	path = 2023_Blaschke_Stroke_tDCS_rsfMRI
	url = git@gin.g-node.org:/stejobla/2023_Blaschke_Stroke_tDCS_rsfMRI.git
	datalad-id = 83b73949-b6c3-4b2b-81b2-cc3f7236a048
	datalad-url = git@gin.g-node.org:/stejobla/2023_Blaschke_Stroke_tDCS_rsfMRI.git
[submodule "Example_Dataset_Kalantari_Paper"]
	path = 2023_Kalantari_DataladExampleDataset
	url = git@gin.g-node.org:/Aswendt_Lab/2023_Kalantari_DataladExampleDataset.git
	datalad-id = 8ef5a758-77f1-4ce3-b0ed-0507c9dd25b3
	datalad-url = git@gin.g-node.org:/Aswendt_Lab/2023_Kalantari_DataladExampleDataset.git
[submodule "testdata_aidaqc"]
	path = testdata_aidaqc
	url = git@gin.g-node.org:/Aswendt_Lab/testdata_aidaqc.git
	datalad-id = ff040a4c-d367-4759-bc77-93e01b5a447a
	datalad-url = git@gin.g-node.org:/Aswendt_Lab/testdata_aidaqc.git
[submodule "AIDAqc"]
	path = AIDAqc
	url = git@github.com:Aswendt-Lab/AIDAqc.git
	datalad-url = git@github.com:Aswendt-Lab/AIDAqc.git
	datalad-id = c5cac56e-5b3b-40c4-bc09-d009dfc86f91
[submodule "2023_Stokowska_Periinfarct"]
	path = 2023_Stokowska_Periinfarct
	url = git@gin.g-node.org:/Aswendt_Lab/2023_Stokowska_Periinfarct.git
	datalad-url = git@gin.g-node.org:/Aswendt_Lab/2023_Stokowska_Periinfarct.git
[submodule "2023_Goetz_RecoveryGenes"]
	path = 2023_Goetz_RecoveryGenes
	url = https://gin.g-node.org/Aswendt_Lab/2023_Goetz_RecoveryGenes
	datalad-id = 945795a4-f4d0-43dc-b51a-e73a79ae8d47
	datalad-url = https://gin.g-node.org/Aswendt_Lab/2023_Goetz_RecoveryGenes
