[submodule "AIDAqc"]
	path = AIDAqc
	url = git@github.com:aswendtlab/AIDAqc.git
	datalad-url = git@github.com:aswendtlab/AIDAqc.git
[submodule "AIDAqc_test_data"]
	path = AIDAqc_test_data
	url = git@gin.g-node.org:/arefks/AIDAqc_test_data.git
	datalad-id = f1a7ead6-a448-4c29-aad5-921e59db6aba
	datalad-url = git@gin.g-node.org:/arefks/AIDAqc_test_data.git
[submodule "2023_Stokowska_Periinfarct"]
	path = 2023_Stokowska_Periinfarct
	url = https://gin.g-node.org/Aswendt_Lab/2023_Stokowska_Periinfarct.git
	datalad-url = https://gin.g-node.org/Aswendt_Lab/2023_Stokowska_Periinfarct.git
[submodule "2023_Goetz_RecoveryGenes"]
	path = 2023_Goetz_RecoveryGenes
	url = https://gin.g-node.org/Aswendt_Lab/2023_Goetz_RecoveryGenes.git
	datalad-id = 945795a4-f4d0-43dc-b51a-e73a79ae8d47
	datalad-url = https://gin.g-node.org/Aswendt_Lab/2023_Goetz_RecoveryGenes.git
